/* ----------- HOME --------------*/
.home{
    position: relative;
}

.home__container{
    gap: 3rem;
}

.home__data{
    gap: .5rem;
    text-align: center;
}

.home__img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: var(--mb-1);
}

.home__title{
    font-size: var(--h1-font-size);
}

.home__profession{
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}

.home__address{
    gap: 1rem;
}

.home__information{
    display: flex;
    align-items: center;
    font-size: var(--pequeno-font-size)
}


.home__icon{
    font-size: 1.2rem;
    margin-right: .5rem;
}

.home__button-movil{
    display: inline-block;
    border: 2px solid var(--texto-cor);
    color: var(--titulo-cor);
    padding: 1rem 2rem;
    border-radius: .25rem;
    transition: .3s;
    font-weight: var(--fonte-media);
    margin-top: var(--mb-3);
}

.home__button-movil:hover{
    background-color: var(--texto-cor);
    color: var(--container-cor);
}

.home__button-movil:focus{
    background-color: var(--texto-cor);
    color: var(--container-cor);
}





@media screen and (min-width: 968px){
    .home__container{
        gap: 1.5rem;
    }

    .home__button-movil{
        display: none;
    }
}