@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --gradient: linear-gradient(180deg, #b3b1b1, #bbbbbb, #ecebeb, transparent);
    --textura: url('../img/textures/lined-paper-2.png');
    
    --body-cor: #ecebeb;
    --container-cor: #fafafa;
    --contianer-cor-alt: #d4d4d4;
    --footer: #202026;

    --cor--botao:#dddcdc;
    --cor-hover: #dbdfdf;
    --cor-link: #416CA6;
    --cor-link-hover: #dbdfdf;
    
    --glass-color: 2px solid rgba(255,255,255, 0.5);
    --glass-effect: rgba(0, 0, 0, 0.03);
    
    --cor-azul: #056CF2; 
    --titulo-cor: #0b0a0a;
    --texto-cor: #403a3a;
    --texto-cor2: #1b1b1b;
    --texto-cor3: #181616;
    --texto-cor-light: #707070;
    
    
    --cabecalho-altura: 3rem;
    --body-fonte: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .94rem;
    --pequeno-font-size: .875rem;
    --pequeno2-font-size: .81rem;

    --input-color: #dddee0;
    --fonte-media: 500;
    --fonte-semi-bold: 600;

    --mb-0-25: .25rem;
    --mb-0-75: .75rem;
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-2-5: 1.25rem;
    --mb-3: 1.5rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    
}

/* ------------ VARIAVEL PARA DARK THEME ----------*/
body.dark-theme{
    --gradient: linear-gradient(180deg, #21578A, #1E2759, #282c34, transparent);
    --body-cor: #282c34;
    --container-cor: #4C5459;
    --contianer-cor-alt: #323640;
    --footer: #1a1c22;

    --cor--botao:  #455DDC;
    --cor-hover: #056CF2;
    --cor--botao-secundario:#455DDC;
    --cor--botao-hover:#056CF2;
    --cor-link-hover: #323640;
    --glass-color: 2px solid rgba(29, 29, 29, 0.5);
    --glass-effect: rgba(255, 255, 255, 0.014);
    
    --titulo-cor: #f2f2f2;
    --texto-cor: #bfbfbf;
    --texto-cor2: #F2F2F2;
    --texto-cor-light: #d1d1d1;
    
    --input-color: #9fa4b6;

    --textura: url('../img/textures/brick-wall-dark.png');
    
}


*, ::before,::after{
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}


body{
    box-sizing: border-box;
    margin: 0 0 var(--cabecalho-altura) 0;
    padding: 0;
    font-family: var(--body-fonte);
    font-size: var(--normal-font-size);
    background: var(--body-cor);
    background-image: var(--textura);
    background-position: cover;
    color: var(--texto-cor);
}


h1,h2,h3,ul,p{
    margin: 0;
}


h1,h2,h3,h4{
    color: var(--titulo-cor);
    font-weight: var(--fonte-media);
}


ul{
    padding: 0;
    list-style: none;
}


a{
    text-decoration: none;
    list-style: none;
}


img{
    max-width: 100%;
    height: auto;
}


.section{
    padding: 1.5rem 0;
}

.section-title{
    font-size: var(--h2-font-size);
    color: var(--titulo-cor);
    font-weight: var(--fonte-semi-bold);
    text-transform: uppercase;
    letter-spacing: .35rem;
    margin-bottom: var(--mb-3);
}


.section-subtitle{
    display: block;
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-3);
}


.section-title, .section-subtitle{
    text-align: center;
}


